.container
  .row
    .small-12.columns
      %h2 Edit location data
  .row
    .small-12.columns
      %p Here you can edit the geographic data for a location. This feature is experimental and may not work completely!
      %p
        You may find 
        = link_to ' this tool ' , 'http://itouchmap.com/latlong.html', :target => :_blank
        helpful for calculating longitude and latitude.
  .row
    .small-8.columns
      %h6
        Editing information for address:
        = @geolocation.address

  = semantic_form_for @geolocation do |f|
    .form_wrapper
      .row
        .large-8.columns= f.input :address
      .row
        .large-8.columns= f.input :latitude
      .row
        .large-8.columns= f.input :longitude
      .row
        .large-8.columns= f.submit 'Save', class: [:button, :small]
  
  .row
    .small-12.columns
      %p The following entries use this location, and editing this will alter the relation for ALL. Do this with care, especially if it is not yours!

  .row
    .small-12.columns
      %ol
        - @geolocation.pbt_entries.each do |e|
          %li
            = "#{e.class.to_s}: "
            = link_to raw(e.name.gsub(/\<div /i, '<span ').gsub(/\<\/div/i, '</span' )), e, target: :_blank
            %span.small= " [#{e.agent.surname}]"
            = link_to fa_icon('external-link'), e, target: :_blank