.row
  .small-10.columns.small-offset-1
    %h4 All data for location:

    %p= @geolocation.address
#map_container
= render :partial => 'home/front_map', locals: {json: [@json], target: 'map_container', center: @json}
.row
  .small-10.columns.small-offset-1
    %ul
      - @geolocation.pbt_entries.each do |entry|
        %li
          = link_to entry.name, entry
          = "(Agent #{entry.agent.surname})"
          %span.pbt_date= entry.formatted_date