- if show_entry?(chat)
  .row.item.discussion
    .left.small-3.columns
      .index_image
        = image_tag chat.agent_icon(:large) unless chat.class == Comment
        .agent_name= raw "Agent #{link_to chat.agent_surname, chat.agent}"
    
        - if agent_signed_in? && chat.class != Comment
          = link_to fa_icon('eye'), chat
          - if chat.agent == current_agent
            = link_to fa_icon('pencil'), "/agents/#{current_agent.id.to_s}/#{chat.class.table_name}/#{chat.id.to_s}/edit"
    
      - if chat.respond_to?('metadata')
        .metadata
          - if chat.class != Comment
            .item_title
          - else
            Comment
          = chat.formatted_date
          - chat.metadata['metadata'].each_pair do |key, value|
            - next if value.blank?
            .item_metadata
              %span.item_metadata_category= key.humanize + ":"
              %span.item_metadata_value= display_metadata(key, value) 
        
    .small-8.small-offset-1.columns.left{:class => (chat.class == Comment ? 'comment' : '')}
      - if chat.class == Comment
        .comment_image
          = image_tag chat.agent_icon(:small)
          - if agent_signed_in? 
            .way_small= link_to_if(chat.agent == current_agent, 'edit', "/agents/#{current_agent.id.to_s}/#{chat.class.table_name}/#{chat.id.to_s}/edit") {}
        .agent_name= raw "Comment by Agent #{link_to chat.agent_surname, chat.agent}, #{time_ago_in_words(chat.date)} ago"
      - else
        - unless display_comment(chat).blank?
          .comment
            %span.big= raw('&ldquo;')
            = raw display_comment(chat)
          - unless chat.userimages.empty?
            .images= raw one_or_slideshow(chat)
          .entered_date= "entered " + time_ago_in_words(chat.created_at) + " ago"

- else
  - if chat.class != Comment
    .item_title= (chat.respond_to?('linked_name') ? chat.linked_name : (chat.respond_to?('name') ? chat.name : ''))
    .item_description= chat.comment
    = raw one_or_slideshow(chat, '/system/no_image.png', :full, true)