- cache(:id => item.id.to_s, :action => "show", :category => 'mastermovie', :action_suffix => 'imdbdata') do
  - m = Imdb::Movie.new(item.imdbcode) unless item.imdbcode.blank?
  .row
    .small-12.columns

      - unless item.imdbcode.blank?
        .master_metadata
          .metadata= m.tagline
          .metadata
            %blockquote= m.plot
          .metadata.text-left
            %p= "Released: #{m.release_date}"
          .metadata.text-left
            Featuring:
            .metadata_small.cast= raw m.cast_members_characters.join(' &sdot; ').gsub(/=\>/, 'as')

= content_for :jquery do
  :plain
    $('.metadata_small').readmore();