
- style = (entry.entry_type == 'Forum' ? 'reply' : 'comment:')

%div{:id => "comment_new_#{entry.id.to_s}"}
  = semantic_nested_form_for(@comment = Comment.new(:foreign_id =>  (entry.entry.has_master? ? entry.entry.master.id : entry.entry.id ), :item_type =>  (entry.entry.has_master? ? "Master#{entry.entry_type}" : (entry.entry_type == "Comment" ? entry.entry.child.class.to_s : entry.entry_type)), agent: current_agent, :add_to_newsfeed => true),  :html => {:multipart => true, :"data-abide" => ""}) do |f|
    .form_wrapper
      = f.input :foreign_id, input_html: {:value =>  (entry.entry.has_master? ? entry.entry.master_id : (entry.entry_type == "Comment" ?  entry.entry.child.id.to_s : entry.entry_id)), :required => ''  }, :as => :hidden

      = f.input :item_type,  :as => :hidden, :input_html => {:required => '' }
      = f.input :agent_id, :as => :hidden, :input_html => {:required => '' }
      = f.input :content, :label => "Your #{style}:", :input_html => {:cols => 30, :rows => 7, :id => "comment_content_#{entry.id.to_s}"}
      = f.fields_for :userimages do |ff|
        = ff.input :image
      - if entry.entry.class == Comment
        .image_attach= f.link_to_add "Attach an image to this comment",  :userimages, class: "button tiny secondary"
      - else
        .image_attach= f.link_to_add "Attach an image to this post",  :userimages, class: "button tiny secondary" 
      = f.input :add_to_newsfeed, :as => :boolean, :label => 'Show this comment in the public newsfeed', :checked => true     
      = f.submit "add #{style}", class: [:button, :tiny]


:javascript
  $("#comment_new_#{entry.id.to_s} form").on("ajax:beforeSend", function() {
        var $submitButton = $("#comment_new_#{entry.id.to_s}").find('input[name="commit"]');

        // Update the text of the submit button to let the user know stuff is happening.
        // But first, store the original text of the submit button, so it can be restored when the request is finished.
        $submitButton.data( 'origText', $(this).text() );
        $submitButton.attr('value', "Submitting..." );
        $submitButton.attr('disabled', 'disabled');
      })
      .on("ajax:complete", function(evt, data, status, xhr) {
  
        var $form = $("#comment_new_#{entry.id.to_s} form");

        // Reset fields and any validation errors, so form can be used again, but leave hidden_field values intact.
        $form.find('textarea,input[type="text"],input[type="file"]').val("");

        // Insert response partial into page below the form.
        $('#comment_new_#{entry.id.to_s}').html(data);

      })