.magellan_container{:"data-sticky-container" => ''}
  %nav.sticky{:"data-sticky" => '', :'data-options' => 'marginTop:2.5'}
    %ul.horizontal.menu{:'data-magellan' => ''}
      - @all_titles.to_a.delete_if{|x| x.discussion.empty? }.each_with_index do |title, i|
        %li{:class => i ==0 ? :active : false}= link_to raw("#{title.title} " + (title.respond_to?(:year) ? "(#{title.year})" : "(#{title.discussion.size})")), "#title_#{title.id}"

      
.row.with_title
  .small-10.columns.small-offset-1
    %h2= raw "Aggregated entries for #{@item.creator}"


- @all_titles.to_a.delete_if{|x| x.discussion.empty? }.each do |title|
  %section{id: "title_#{title.id}"}
  .aggregate{:"data-magellan-destination" => "title_#{title.id}"}
    .row
      .small-8.columns.small-offset-2.title
        = link_to raw(title.name), title
        %small
          = link_to fa_icon('eye'), title
          - if title.respond_to?('linkto')
            - title.linkto.each do |link|
              = link_to fa_icon('external-link'), link, :target => "_blank"
    .row
      .small-8.columns.text-center.small-offset-2
        .row
          .large-2.columns= raw one_or_slideshow(title)
          .large-10.columns= render :partial => "shared/#{@item.class.to_s.downcase}", :locals => {:item => title}
    .row
      .small-8.columns.small-offset-2
        - if title.respond_to?(:other_versions)
          - unless title.other_versions.empty?
            - title.all_versions.map(&:discussion).flatten.uniq.sort_by(&:date).each do |chat|
              .item_listing= render :partial => "shared/discussion_entry", locals: {:chat => chat, master: true, :searchterm => nil}
          - else
            - title.discussion.each do |chat|
              .item_listing= render :partial => "shared/discussion_entry", locals: {:chat => chat, master: true , :searchterm => nil}
        - else
          - title.discussion.each do |chat|
            .item_listing= render :partial => "shared/discussion_entry", locals: {:chat => chat, master: true, :searchterm => nil}


= content_for :jquery do
  :plain
    $('.slick_carousel').slick({autoplay: true});
    $('.slick_carousel').each(function() {
      $(this).slickLightbox({slick: {autoplay: true}});
    });
