%h3= "Aggregated entries for #{@item.creator}"
- @all_titles.to_a.delete_if{|x| x.discussion.empty? }.sort_by{|x| x.discussion.flatten.sort_by{|a| a.created_at}.reverse.first.created_at }.reverse.each do |title|
  %hr
  .item_title
    = link_to raw(title.name), title
    - if title.respond_to?('linkto')
      = link_to image_tag('/img/icons/external-link.png'), title.linkto, :target => "_blank"
  = raw one_or_slideshow(title, '/system/no_image.png', :full, false)     
  - title.discussion.each do |chat|
    
    - if show_entry?(chat)
      .item.discussion{:class => cycle("even", "odd")}
        .left
          .index_image
            = image_tag chat.agent_icon(:small) unless chat.class == Comment
            .way_small= link_to 'standalone', chat unless chat.class == Comment
            - if agent_signed_in? && chat.class != Comment
              = link_to_if(chat.agent == current_agent, 'edit', "/agents/#{current_agent.id.to_s}/#{chat.class.table_name}/#{chat.id.to_s}/edit") {}  
        .right{:class => (chat.class == Comment ? 'comment' : '')}
          - if chat.class == Comment
            .comment_image
              = image_tag chat.agent_icon(:small)
              - if agent_signed_in? 
                .way_small= link_to_if(chat.agent == current_agent, 'edit', "/agents/#{current_agent.id.to_s}/#{chat.class.table_name}/#{chat.id.to_s}/edit") {}
            .agent_name= "Comment by Agent #{link_to chat.agent_surname, chat.agent}, #{time_ago_in_words(chat.date)} ago"
          - else
            .agent_name= "Agent #{link_to chat.agent_surname, chat.agent}, #{time_ago_in_words(chat.date)} ago"
          - if chat.respond_to?('metadata')
            - if chat.class != Comment
              .item_title
            - else
              Comment
            - chat.metadata['metadata'].each_pair do |key, value|
              - next if value.blank?
              .item_metadata
                %span.item_metadata_category= key.humanize + ":"
                %span.item_metadata_value= display_metadata(key, value)
          - else
            - if chat.class != Comment
              .item_title= (chat.respond_to?('linked_name') ? chat.linked_name : (chat.respond_to?('name') ? chat.name : ''))

          

          .item_description= chat.comment
          = raw one_or_slideshow(chat, '/system/no_image.png', :full, true)     
= content_for :jquery do
  :plain
    $('.slick_carousel').slick({autoplay: true});
    $('.slick_carousel').each(function() {
      $(this).slickLightbox({slick: {autoplay: true}});
    });
