- unless @localhits.blank? || @choices.blank?
  .magellan_container{:"data-magellan-expedition" => "", :"data-options"  => "threshold:80;destination_threshold:80;throttle_delay:50;fixed_top:40;"}
    %dl.sub-nav
      %dd.active{:"data-magellan-arrival" => "localhits"}= link_to "Existing PBT entries (#{@localhits.size})", "#localhits"
      %dd{:"data-magellan-arrival" => "choices"}= link_to "Search results (#{@choices.size})", "#choices"


.container.chooser
  .row
    .small-8.columns.small-2-offset
      %h2
        = "Searching for "
        %em= params[:query] + ":"
  - unless @localhits.blank?
    %a{:name => "localhits"}
    .row{:"data-magellan-destination" => "localhits"}
      .small-12.columns
        %h4 Results already in PBT database:
        - @localhits.in_groups_of(3).each do |group|
          .choice_title.row.choice_row
            - group.each_with_index do |hit, i|
              - next if hit.nil?
              .small-4.columns{class: hit[i+1].nil? ? :end : false }
                .row
                  .small-3.columns
                    - if hit.filename?
                      = link_to image_tag(hit.filename.url(:thumb)), select_genericmaster_path(:agent_id => current_agent.id, :id => "local_#{hit.id}", :category => @category)
                  .small-9.columns
                    = link_to raw(hit.name), select_genericmaster_path(:agent_id => current_agent.id, :id => "local_#{hit.id}", :category => @category)
                    .metadata
                      = "Agents: #{hit.items.map{|x| x.agent.surname }.uniq.join(', ')}"



  - unless @choices.blank?

    .row
      .small-12.columns
        %a{:name => "choices"}
        %h4{:"data-magellan-destination" => "choices"} Search results:
        - if @category == "Movie" || @category == "Tvseries"
          - @choices.each do |choice|
            .choice
              .choice_title
                = link_to raw(choice.title.gsub(/\((\d+)$/, '(\1)')), select_genericmaster_path(:agent_id => current_agent.id, :id => choice.imdb_id.gsub(/\D*/, '').sub!(/^[0]+/,''), :category => @category)
                - if @choices.size == 1
                  %small
                    = "(#{choice.director}, #{choice.country}, #{choice.year})"
        - else @category == "Book" || @category == "Music"
          - @choices.in_groups_of(4).each do |group|
            .row.choice_row
              - group.each_with_index do |choice, i|
                - next if choice.nil?
                .small-3.columns{class: choice[i+1].nil? ? :end : false }

                  .row
                    .small-3.columns
                      - if choice['image']
                        = link_to image_tag(choice['image']), select_genericmaster_path(:agent_id => current_agent.id, :id => choice['key'], :category => @category)
                    .small-9.columns
                      .choice_title= link_to raw(choice['title'].gsub(/\((\d+)$/, '(\1)')), select_genericmaster_path(:agent_id => current_agent.id, :id => choice['key'], :category => @category)
                      - unless choice['label'].blank?
                        .metadata= choice['label'].join(" / ")
                      - unless choice['format'].blank?
                        .metadata= choice['format'].join(' ')
