.container
  .row
    .small-10.columns.small-offset-1
      - if @item.agents.uniq.size > 1
        = "Warning: This item is used by #{pluralize(@item.agents.size, 'other agent')}.  Editing this record will also edit it for them.  Please only use this feature to correct mistakes by the automatic IMDB/Amazon/Discogs data loading."
      
      %h2
        Editing master entry for
        = raw @item.name
      
      - if @category == 'MasterMovie'
  
        = semantic_form_for(@item, :html => {:multipart => true}) do |f|
          .form_wrapper
            = f.input :title, :as => :string
            = f.input :english_title, as: :string
            = f.input :director, :as => :string
            = f.input :country, :as => :string
            = f.input :year, :as => :string
            = f.input :imdbcode, :as => :string, :input_html => {:maxlength => 16 }
   
            .row
              .large-6.columns
                - if f.object.filename?
                  = image_tag f.object.filename.url(:full)
                = f.input :filename, label: 'Replace image:'
            .row
              .large-6.columns= f.input :resync_image, label: 'Attempt to re-sync the image from IMDB', hint: 'If there is an image for this object it will be overwritten', as: :boolean            
            - if @followup == 'new'
              = f.input :followup, :as => :hidden, :value => @followup
            = f.submit 'Save', class: [:button, :small]
      
      
      - if @category == 'MasterTvseries'
  
        = semantic_form_for(@item, :html => {:multipart => true}) do |f|
          .form_wrapper
            = f.input :title, :as => :string
            = f.input :year, :as => :string
            = f.input :imdbcode, :as => :string, :input_html => {:maxlength => 16 }
            .row
              .large-6.columns
                - if f.object.image?
                  = image_tag f.object.image.url(:full)
                = f.input :image, label: 'Replace image:'
            .row
              .large-6.columns= f.input :resync_image, label: 'Attempt to re-sync the image from IMDB', hint: 'If there is an image for this object it will be overwritten', as: :boolean                     
            - if @followup == 'new'
              = f.input :followup, :as => :hidden, :value => @followup
            = f.submit 'Save', class: [:button, :small]
                  
      - if @category == 'MasterMusic'
        = semantic_form_for(@item, :html => {:multipart => true}) do |f|
          .form_wrapper
            .row
              .large-6.columns= f.input :artist, :as => :string
            .row
              .large-6.columns= f.input :title, :as => :string
            .row
              .large-6.columns= f.input :label, :as => :string
            .row
              .large-6.columns= f.input :year, :as => :string
            .row
              .large-6.columns= f.input :format, :as => :string
            .row
              .large-6.columns= f.input :discogscode, :as => :string, :input_html => {:maxlength => 16 }, label: 'Discogs.com ID'
            .row
              .large-6.columns= f.input :masterdiscogs_id, :as => :string, :input_html => {:maxlength => 16 }, label: 'Discogs.com master release ID#'
            .row
              .large-6.columns= f.input :filename
            - if session[:discogs_token]
              .row
                .large-6.columns= f.input :resync_image, label: 'Attempt to re-sync the image from discogs.com', hint: 'If there is an image for this object it will be overwritten', as: :boolean
            - else
              .row
                .large-6.columns
                  %li 
                    You must get a discogs.com 
                    = link_to 'access token ', '/musics/authenticate'
                    to be able to re-sync images.
            - if @followup == 'new'
              .row
                .large-6.columns= f.input :followup, :as => :hidden, :value => @followup
            .row
              .large-6.columns= f.submit 'Save', class: [:button, :small]
      
      - if @category == 'MasterBook'
        = semantic_form_for(@item, :html => {:multipart => true}) do |f|
          .form_wrapper
            .row
              .large-6.columns= f.input :author, :as => :string
            .row
              .large-6.columns= f.input :title, :as => :string
            .row
              .large-6.columns= f.input :amazoncode, :as => :string
            .row
              .large-6.columns
                - if f.object.filename?
                  = image_tag f.object.filename.url(:thumb)
                  = f.object.filename_file_name
                = f.input :filename
            .row
              .large-6.columns= f.input :resync_image, label: 'Attempt to re-sync the image from amazon.com', hint: 'If there is an image for this object it will be overwritten', as: :boolean              
            - if @followup == 'new'
              .row
                .large-6.columns= f.input :followup, :as => :hidden, :value => @followup
            .row
              .large-6.columns= f.submit 'Save', class: [:button, :small]

      - if @category == 'MasterVideogame'
        = semantic_form_for(@item, :html => {:multipart => true}) do |f|
          = f.input :title, :as => :string
          = f.input :creator, :as => :string
          = f.input :platform, :as => :string
          = f.input :amazoncode, :as => :string
          = f.input :filename    
          - if @followup == 'new'
            = f.input :followup, :as => :hidden, :value => @followup
          = f.submit 'Save', class: [:button, :small]