.container
  .row
    .small-12.columns
      %h2 Forum post
      = semantic_nested_form_for @forum , :html => {:multipart => true } do |f|
        .form_wrapper
          .row
            .large-8.columns.small-12
              = f.input :subject
              = f.input :agent_id, :value =>  current_agent.id, :as => :hidden
          .row
            .large-8.columns.small-12= f.input :body, :label => false, :input_html => {:cols => 80, :rows => 10}
          .row
            .large-8.columns.small-12= f.input :add_to_newsfeed, :as => :boolean, :label => 'Show this forum post in the public newsfeed', :checked => true
          = f.fields_for :userimages do |ff|
            .row
              .large-8.columns.small-12
                - if ff.object.image?
                  = image_tag ff.object.image.url(:thumb)
                  = ff.link_to_remove 'Remove this image'
                = ff.input :image
          .row
            .large-8.columns.small-12= f.link_to_add 'Add an image', :userimages, class: [:button, :tiny, :secondary]
          .row
            .large-6.columns.small-12= f.submit "post!", class: [:button, :small]
= content_for :jquery do
  :plain
    var puny_mce = new punymce.Editor({id : 'forum_body'});
