.magellan_container{:"data-sticky-container" => ''}
  %nav.sticky{:"data-sticky" => '', :'data-options' => 'marginTop:2.5'}
    %ul.horizontal.menu{:'data-magellan' => ''}
      - @items.keys.each_with_index do |item_type, i|
        - next if @totals[item_type] == 0
        %li{:class => i ==0 ? :active : false}= link_to item_type.to_s.pluralize + " (#{@totals[item_type]})", "#type_#{item_type.to_s}"
      
.container      
  .row.with_title
    .small-12.columns

      %h2= "Search results for #{@searchterm}"
- unless @map.blank?
  #search_map
  = render :partial => 'home/front_map', locals: {json: @map, target: 'search_map', center: @map.size > 1 ? false : @map.first }
.container      
    
  .row
    .small-12.columns
      
      = pluralize( @totals.values.sum , 'search result')
      - if !agent_signed_in?
        - missing = @items.delete_if{|x| x.class == String }.reject{|x| x.agent.security == 0}.size
        - if missing > 0
          %em= " (#{pluralize(missing, 'protected entry')} in search results that are only visible to other PBT agents.)"
        - @items.delete_if{|x| x.agent.security != 0}
      = "for '#{@searchterm}'"
  - @items.each do |cl, hits|
    %section{id: "type_#{cl}"}
      .search_header.row{class: cycle('odd', 'even')}
        .small-8.columns
          %h4= pluralize(@totals[cl], cl)
          - if @totals[cl] > 25
            %small Showing only 25 per page.
            = paginate hits, params: {:controller => 'search', :action => 'by_category', id: cl}
        .small-12.columns
          - hits.each do |item|
            .row.search_result
              .small-8.columns.small-offset-2.item_listing= render :partial => 'shared/item', :locals => {:item =>  item, :searchterm => @searchterm, master: nil}

= content_for :jquery do
  :plain
    $('.slick_carousel').slick({autoplay: true});
    $('.slick_carousel').each(function() {
      $(this).slickLightbox({slick: {autoplay: true}});
    });