- if flash[:error]
  = flash[:error]

= semantic_form_for profile, :html => {:multipart => true} do |f|
  Year:
  = profile.year
  = f.input :year, :as => :hidden 
  = f.input :agent_id, :as => :hidden, :value => current_agent.id.to_s
  = f.input :surname
  = f.input :age
  = f.input :location
  = f.input :missionname
  - unless f.object.new_record?
    = image_tag f.object.avatar.url(:thumb)
  = f.input :avatar, :label => "Profile picture"  + (f.object.new_record? ? '(choose)' : '(change)')
  = f.input :theme
  = f.input :currency, :label => "Default currency"
  = f.input :dateformat, :label => raw('Date format (<a href="http://www.wetware.co.nz/blog/2009/07/rails-date-formats-strftime/" target="_blank">Explanation</a>)')
  
  = f.input :freetext, :label => "Free text for profile page"
  = f.input :shortfilms, :label => 'Allow separate page for short films'
  = f.input :theme_settings, :label => "Custom CSS"
  = f.buttons do
    = f.submit