.import_container
  .row
    .medium-6.columns.small-12
      %h2 Import old data

      .row
        .small-10.columns
          %p 
            Please prepare your data as a .CSV file:
            %ol
              %li Use OpenOffice/Libre Office. Excel does not correctly export CSV and does not deal with Unicode characters correctly.
              %li Convert ALL dates to the format YYYY-MM-DD (ex: 2003-12-21)
              %li Convert decimals to American style (with . instead of , for decimal places)
              %li Save each category as a separate CSV.
              %li Save only the data fields - do not include header rows, total rows, borders or other decorations. Try cutting and pasting these fields to a new spreadsheet and saving that as .CSV.
              %li Upload the CSV below and choose the appropriate category and year.
          %p
            You can look at your 
            = link_to 'history graph', history_agent_path(current_agent.slug)
            to see what categories already have content. Do not duplicate content!
          %p After you have uploaded each .CSV, it will appear in your import queue to the right. Click 'process' on each one to go to the next step.
          %p Only non-master categories can be imported at this moment. Thank you for your patience!
    
          .row
            .small-10.columns
              = semantic_form_for @import = Import.new, html: {multipart: true }  do |f|
                = f.input :year, as: :select, collection:  2007.downto(2002).to_a
                = f.input :category, as: :select, collection: ['Activity', 'Airport', 'Bar', 'Brewing', 'Concert', 'Event', 'Gambling', 'Grocery', 'Mile', 'Music Played', 'Restaurant', 'Takeaway']
                = f.input :csvfile
                = submit_tag 'Upload'


    .medium-6.columns.small-12
      %h2 Your import queue
    
      .row
        .small-12.columns
          - @imports.each do |import|
            - next if import.processed == true
            .row.imports{class: cycle('odd', 'even')}
              .small-2.columns
                %small= import.csvfile_file_name
              .small-3.columns
                = import.year + " " + import.category.pluralize
              .small-2.columns
                = import.importbacklogs.where(imported: true).size 
                = " / "
                = import.importbacklogs.size
                %small= " processed"
              .small-4.columns
                = link_to 'Process', pbtprocess_import_path(import), class: [:button, :tiny, :secondary]
                = link_to 'Delete', import, method: :delete, data: {confirm: 'Are you sure?'}, class: [:button, :tiny, :alert]
                
      %h2 Your completed imports
    
      .row
        .small-12.columns
          - @imports.each do |import|
            - next if import.processed == false
            .row.imports{class: cycle('odd', 'even')}
              .small-3.columns
                = import.csvfile_file_name
              .small-3.columns
                = import.year + " " + import.category.pluralize
              .small-5.columns.end
                = import.importbacklogs.where(imported: true).size 
                = " / "
                = import.importbacklogs.size
                = " processed"
                       
                