%h2= "History for Agent #{@agent.surname}"

%h4 Number of entries by category, by year
#history
- xs = []
- 18.times.each{xs.push((0..(2017-2002)).to_a)}
- ys = []
- (18.downto(1)).each{|x| 16.times.each{ ys.push(x)}}
- data = @data.flatten
= " data size is #{data.size}"
= " ys size is #{ys.size }"
= " xs size is #{xs.size}"

= content_for :jquery do
  :plain
    var r = Raphael("history", 1240, 1240),
      xs = #{xs.flatten},
      ys =  #{ys},
      data = #{data},
      axisy = #{@history.keys.reverse},
      axisx = #{(2002).upto(@current_year).to_a.map(&:to_s)};
    r.dotchart(0,0, 1240, 1240, xs, ys, data, {max:18, heat: true, axis: "1 0 1 1", axisxstep: 15, axisystep: 17, gutter: 10, axisxlabels: axisx, axisxtype: "+", href: #{@href.flatten.inspect}, axisytype: "+",       axisylabels: axisy}).hover(function () {
      this.marker = this.marker || r.tag(this.x, this.y, this.value, 0, this.r + 2).insertBefore(this);
      this.marker.show();
      }, function () {
        this.marker && this.marker.hide();
    });
      