
%tr{:class => cycle('odd', 'even') }
  - @view.columns_for_category(agent.class).each_with_index do |col, index|
    - next if col == 'venue_address'
    - next unless show_entry?(agent)
    %td{:class => (col == 'label' ? "recordlabel" : col ) + " #{agent.class.table_name}"}
      
      - if col == 'name' || col == 'title' || col == 'artists' || col == 'station' || col == 'product'
        = link_to highlight(display_column(agent, col, agent.agent_id), params[:filter][:filter_text]), url_for(agent.has_master? ? agent.master : agent)
        - if agent.respond_to?('linkto')
          - unless agent.linkto.blank?
            = link_to fa_icon('external-link'), agent.linkto, :target => "_blank" 
        = raw one_or_slideshow(agent, nil, :thumb)
      - elsif col == 'comment'
        - unless display_column(agent, col, agent.agent_id).blank?
          - if agent.has_master?
            - if display_column(agent, col, agent.agent_id).length > 1000
              .reveal-modal{:id => "comment_" + agent.id.to_s, :"data-reveal" => ''}
              
                = raw display_column(agent, col, agent.agent_id)
              = truncate_html(display_column(agent, col, agent.agent_id), length: 1000)
              = link_to raw(fa_icon('bullhorn')), '#', "data-reveal-id" => "comment_" + agent.id.to_s
            - else
              = raw display_column(agent, col, agent.agent_id)       
          - else
            - if display_column(agent, col, agent.agent_id).length > 550
              .reveal{:id => "comment_" + agent.id.to_s, :"data-reveal" => ''}
              
                = raw display_column(agent, col, agent.agent_id)
              = truncate_html(display_column(agent, col, agent.agent_id), length: 550)
              = link_to raw(fa_icon('bullhorn')), '#', "data-open" => "comment_" + agent.id.to_s
            - else
              = raw display_column(agent, col, agent.agent_id)
      - else
        = highlight(display_column(agent, col, agent.agent_id), params[:filter][:filter_text])
        - if col == 'finished' && !display_column(agent, col, agent.agent_id).blank?
          .small
            Time taken:
            = agent.metadata['metadata']['time taken']

        - if col == 'location'
          - if agent.respond_to?('geolocation')
            - unless agent.geolocation.nil?
              %span.small= link_to fa_icon('globe'), edit_geolocation_path(agent.geolocation)
        - if index == 0
          %p
            - if agent_signed_in?
              - if current_agent == agent.agent
                = link_to fa_icon('eye'), agent
                
                = link_to fa_icon('pencil'), "/agents/#{current_agent.slug}/#{agent.class.table_name}/#{agent.id}/edit"
                = link_to fa_icon('trash'), agent, :method => :delete, data: {confirm: 'Are you sure you wish to delete this entry?'}
                .social
                  - if agent.discussion.size > 1
                    %span.small= agent.discussion.size
                    = link_to fa_icon('comments'), url_for(agent.has_master? ? agent.master : agent) + "#discussion"
                  - if agent.others.size > 0
                    %span.small= agent.others.size
                    = link_to fa_icon('group'), url_for(agent.has_master? ? agent.master : agent) + "#discussion"


