.container  
  .row
    .small-12.columns.text-left
      %h2= @agent.categories.year(getYear).first.send(@category.tableize).to_s
  .row
    .small-12.columns
      - if @category == 'Movie' 
        - if controller.action_name != 'shorts'
          - if @agent.profile(getYear).shortfilms
            - @items = @items.delete_if{|x| x.is_short}
            = link_to 'See short films', shorts_agent_movies_path(:agent_id => @agent.id), class: [:tiny, :secondary, :button]
        - else
          = link_to 'See feature-length films', agent_movies_path(:agent_id => @agent.id), class: [:tiny, :secondary, :button]
      - elsif @category == 'Music'
        - if agent_signed_in?
          - if current_agent == @agent
            = link_to_if current_agent == @agent, 'Suggest unreviewed', unreviewed_agent_musics_path, class: [:tiny, :secondary, :button]

      - unless @items.blank?

        %table.responsive#classic{:border => 0}
          %thead
            - @view.columns_for_category(@items[0].class).each do |col|
              - next if col == 'venue_address'
              %th= @view.agent_column_name(@items[0], col).humanize

          %tbody#results
            = render :partial => '/agent', :collection => @items
            
          
      - unless @items.blank?
        = paginate @items
        -#= pageless(@items.total_pages, url_for(@items.first.class.table_name))
