- cache ['top-bar',  agent_signed_in? ? current_agent.categories.year(getYear).first : 'no-user'] do
  .top-bar-left
    %ul.horizontal.menu{:'data-responsive-menu' => "drilldown medium-dropdown", :'data-auto-height' => true, style: 'width: 300px'}
      -#:"data-dropdown-menu" => ''}
      %li.menu-text
        = link_to 'PBT', '/'
        %ul.menu.vertical
          %li.show-for-small-only= link_to 'Homepage', '/'
          - [Activity, Airport, Bar, Book, Brewing, Concert, Eating, Event, Exercise, Gambling, Grocery, Mile, Movie, Music, Musicplayed, Restaurant, Takeaway, Videogame, Weight].each do |category|
            %li= link_to category.to_s.pluralize, "/#{category.table_name}"
          %li.show-for-small-only= link_to fa_icon('comment lg') + (session[:forum_unread].blank? ? '' : (session[:forum_unread] > 0 ? " (#{session[:forum_unread]})" : '' )), '#', onclick: "$('.forum-bar').slideToggle(); return false;"
          %li.show-for-small-only
            = link_to 'All agents', '#'
            %ul.vertical.menu{ :'data-auto-height' => true}
              - @active_agents.each do |agent|
                %li= link_to agent.surname, agent.agent
          %li.show-for-small-only= link_to fa_icon('line-chart lg'), '/stats'
          %li.show-for-small-only= link_to fa_icon('gear lg'), '/settings'
          - if agent_signed_in?
            %li.show-for-small-only= link_to fa_icon('sign-out lg'), destroy_agent_session_path, :method => :delete
          - else
            %li.show-for-small-only= link_to fa_icon('sign-in lg'), '#', :"data-open" => "prompt_login"             
      - if agent_signed_in?
        %li{style: 'min-width: 135px'}
          = link_to "Agent #{current_agent.surname}", '#'
          %ul.menu.vertical.agent_menu{:'data-auto-height' => true}
            - if agent_signed_in?
              - agent_category = current_agent.categories.year(getYear).first

              - [Activity, Airport, Bar, Book, Brewing, Concert, Eating, Event, Exercise, Gambling, Grocery, Mile, Movie, Music, Musicplayed, Restaurant, Takeaway, Tvseries, Videogame, Weight].each do |category|
      
                - this_cat = (agent_category ? agent_category.send(category.to_s.tableize).to_s : category.table_name )
                - if this_cat == "0"
                  - next
                %li.hide-for-small-only
                  = link_to this_cat, "/agents/#{current_agent.slug.to_s}/#{category.table_name}", class: :agent_cat_link
    
                  - if category.has_master?
                    = link_to fa_icon("plus-square-o"), '#', :"data-open" => "prompt_#{category.table_name.singularize}"
                  -else 
                    = link_to fa_icon("plus-square-o"), "/agents/#{current_agent.slug.to_s}/#{category.table_name}/new"
                %li.show-for-small-only                    
                  - if category.has_master?
                    = link_to "New " + this_cat.singularize, '#', :"data-open" => "prompt_#{category.table_name.singularize}" 
                  - else 
                    = link_to "New " + this_cat.singularize, "/agents/#{current_agent.slug.to_s}/#{category.table_name}/new"
                    
      %li.has-form#searchform
        = form_tag "/search/simple", :method => "post" do |f|
          = text_field_tag :search, 'Search?'

    / %section.top-bar-section
    /   
        
  .top-bar-right.hide-for-small-only
    %ul.horizontal.menu{:'data-drilldown' => ''}
      - if controller.controller_name == 'home' && !@json.blank?
        %li= link_to fa_icon('globe lg') + " (#{@json.size})", '#', onclick: "$('.worldmap-bar').slideToggle();google.maps.event.trigger(map, 'resize'); map.setCenter(new google.maps.LatLng(0, 0));return false;"
      - unless controller.controller_name == 'forums' && controller.action_name == 'index'
        %li= link_to fa_icon('comment lg') + (session[:forum_unread].blank? ? '' : (session[:forum_unread] > 0 ? " (#{session[:forum_unread]})" : '' )), '#', onclick: "$('.forum-bar').slideToggle(); return false;"
      %li.hide-for-small-only= link_to fa_icon("users lg"), '#', onclick: "$('.agents-bar .agents').slideToggle(); return false;"
      %li.show-for-small-only
        = link_to 'All agents', '#'
        %ul.vertical.menu{ :'data-auto-height' => true}
          - @active_agents.each do |agent|
            %li= link_to agent.surname, agent.agent
      %li= link_to fa_icon('line-chart lg'), '/stats'
      %li= link_to fa_icon('gear lg'), '/settings'
      - if agent_signed_in?
        %li= link_to fa_icon('sign-out lg'), destroy_agent_session_path, :method => :delete
      - else
        %li= link_to fa_icon('sign-in lg'), '#', :"data-open" => "prompt_login"
