!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = raw(display_meta_tags :site => 'PBT 5.0')
    
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico", :type => "image/x-icon"}/
    

    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS']}&callback=initMap", :type => "text/javascript"}

    

    = yield :head
    = stylesheet_link_tag   "application" 
    = javascript_include_tag "application"
    
    -#= stylesheet_link_tag 'classic','layout', 'skeleton1200', 'date_input', 'superfish', 'jquery-ui-1.8.21.custom'
    - if controller.controller_name == 'stats' || controller.action_name == 'history' 
      = javascript_include_tag 'raphael'
 
    - if agent_signed_in?
      = stylesheet_link_tag "http://#{request.host}#{request.port  != 80 ? ':' + request.port.to_s : ''}/css/#{current_agent.slug.to_s}.css"
     
    = csrf_meta_tag


  %body
    .topmost{:"data-sticky-container" => ''}
      .top-bar.sticky{:"data-sticky" => '', :"data-options" => "marginTop:0;", style: "width:100%"}
        = render :partial => 'layouts/top_bar'
      
        .agents-bar
          -#= link_to image_tag("/img/logos/#{getYear}_small.jpg", :width => 65), '#', onclick: "$('.agents').toggle('slide', {direction: 'both'} );;return false;"
          .agents
            - @active_agents.each do |agent|
              = link_to image_tag(agent.avatar(:small), height: 65), agent.agent
        .forum-bar.row
          .small-8.columns
            %table{:border => 0}
              - cache(:agent => (agent_signed_in? ? current_agent.id : 'null'), :action_suffix => 'forum_frontpage', :page => params[:page]) do
                %tbody#results
                  %thead
                    %th= link_to 'See entire forum', forums_path
                    %th= link_to fa_icon('plus-square-o'), new_forum_path
                  = render :partial => 'shared/forum_list', :collection => @forums
        - if controller.controller_name == 'home' && !@json.blank?
          .worldmap-bar.row
            .map_title
              Recent geographic locations
              = link_to 'See all', geolocations_path
            #front_map
            = render :partial => 'front_map', locals: {json: @json , target: 'front_map', center: nil}
            
    - if flash[:notice]
      .flash_notice
        .row
          .small-12.columns.text-center= flash[:notice]
  
    - if flash[:error]
      .flash_error
        .row
          .small-12.columns.text-center= flash[:error]          
    = yield.force_encoding('utf-8')
    - unless controller.controller_name == 'geolocations' && controller.action_name == 'index'
      %footer
        .row
          .small-6.columns.past_years.small-centered.text-center
            %p
              %strong Project Blood Team
            %p Since 2002
        .row
          .small-8.columns.past_years.small-centered.text-center
            %p
              - 2014.downto(2002).map(&:to_s).each do |y|
                = link_to image_tag("/img/logos/#{y}_small.jpg"), "http://#{y}.bloodteam.com"
    - if current_agent
    
      .reveal#prompt_movie{:"data-reveal" => ''}
        %h2 New movie
        .row
          .small-4.columns
            = form_tag query_agent_movies_path(:agent_id => current_agent.id), :method => :get do 
              %p Enter a title to search for your movie.
              = text_field_tag :query
              = submit_tag 'Search', :class => [:button, :small]
          .small-4.columns
            = form_tag directid_agent_movies_path(:agent_id => current_agent.id), :method => :get do 
              %p or enter the IMDB code
              = text_field_tag :directid
              = submit_tag 'Create', :class => [:button, :small]
          .small-4.columns.end
            %p or
            = link_to 'create custom entry', '/genericmaster/custom/Movie/new', class: [:button, :tiny, :secondary]
            
      .reveal#prompt_tvseries{:"data-reveal" => ''}
        %h2 New TV series
        .row
          .small-4.columns
            = form_tag query_agent_tvseries_index_path(:agent_id => current_agent.id), :method => :get do 
              %p Enter a title to search for your TV series.
              = text_field_tag :query
              = submit_tag 'Search', :class => [:button, :small]
          .small-4.columns
            = form_tag directid_agent_tvseries_index_path(:agent_id => current_agent.id), :method => :get do 
              %p or enter the IMDB code
              = text_field_tag :directid
              = submit_tag 'Create', :class => [:button, :small]
          .small-4.columns.end
            %p or
            = link_to 'create custom entry', '/genericmaster/custom/Tvseries/new', class: [:button, :tiny, :secondary]
                    
      .reveal#prompt_music{:"data-reveal" => ''}
        %h2 New music
        - if !session[:discogs_token].blank?
          .row
            .small-4.columns
              %p Enter a title to search for your music entry.
              = form_tag query_agent_musics_path(:agent_id => current_agent.id), :method => :get do 
                = text_field_tag :query
                = submit_tag "Search", :class => [:button, :small]
            .small-4.columns
              %p or enter the discogs.com id number
              = form_tag directid_agent_musics_path(:agent_id => current_agent.id), :method => :get do
                = text_field_tag :directid
                = submit_tag 'Create', :class => [:button, :small]
            .small-4.columns
              %p or
              = link_to 'create custom entry', '/genericmaster/custom/Music/new', class: [:button, :tiny, :secondary]
        - else
          .row
            .small-12.columns
              %p Since 14 August 2014, discogs.com has required authentication to access its database. You can get your access token here.
              %p= link_to 'Get access token', '/musics/authenticate', class: [:button, :small]
        
      .reveal#prompt_book{:"data-reveal" => ''}
        %h2 New book
        %p Enter a title to search for your book.
        = form_tag query_agent_books_path(:agent_id => current_agent.id), :method => :get do 
          = text_field_tag :query
          = submit_tag "Search", :class => [:button, :small]
        = link_to 'create custom entry', '/genericmaster/custom/Book/new', class: [:button, :tiny, :secondary]
      .reveal#prompt_videogame{:"data-reveal" => ''}
        %h2 New videogame
        %p Enter a title to search for your videogame.
        = form_tag query_agent_videogames_path(:agent_id => current_agent.id), :method => :get do 
          = text_field_tag :query
          = submit_tag "Search", :class => [:button, :small]
        = link_to 'create custom entry', '/genericmaster/custom/Videogame/new', class: [:button, :tiny, :secondary]  
    - else
      .reveal#prompt_login{:"data-reveal" => ''}
        .row
          .small-12.columns
            %h2 Sign in to Project Blood Team

        = form_for(:agent, as: :agent, url: session_path(:agent)) do |f|
          .row
            .large-6.columns.small-10
              = f.label :login
              = f.text_field :login
          .row
            .large-6.columns.small-10
              = f.label :password
              = f.password_field :password, autocomplete: "off"

          - if Devise.mappings[:agent].rememberable?
            .row
              .large-6.columns.small-1
                = f.check_box :remember_me
                = f.label :remember_me 
          .row
            .large-6.columns
              = f.submit "Sign in", class: [:button, :radius, :tiny]
          .row
            .small-12.columns= render :partial =>  "devise/shared/links", locals: {:resource_name => :agent}
            

  #login_overlay
    .login_content
  



= yield :scripts
= yield :more   

:javascript
  $(document).ready(function() {
    $('#searchform input').clearField();
    $('.discussion .comment_comment').readmore({heightMargin: 12});
    $('.slick_carousel').slick({autoplay: true});
    $('.slick_carousel').each(function() {
      $(this).slickLightbox({slick: {autoplay: true}});
    });
     #{yield :jquery}
   });   